{%extends "registration/base.html"%}
{% load bootstrap3 %}
{% load static %}
{% block content %}

<div class="bg">

<div class="container">
  <div class="row">
    <!-- Empty div -->
    <div class="col-md-4"></div>
    <div class="col-md-4">
      {% if form.errors %}
        <p> Password or Username is incorrect </p>
      {% endif %}

      <div class="panel panel-default" style="margin-top:210px;">

        <div class="panel-heading">
          <h3 class="text-center">Sign In</h3>
        </div>
        <div class="panel-body">

          <form  action="/accounts/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form%}

            <div class="form-group text-center">
              <input type="submit" class="btn btn-primary btn-sm" value="Login">
            </div>

            <input type="hidden" name="next" value="{{next}}">

          </form>

        </div>

      </div>


    </div>
    <!-- empty div -->
    <div class="col-md-4"></div>
  </div>
</div>

</div>

<style>
body, html {
  height: 100%;
  margin: 0;
}
.bg{
  background-image: url("{% static 'images/background.jpg' %}");
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0,0,0,0.9);
}

p, label,a{
  color:white;
  font-size: 15px;
}
h3{
  color:white;
}

panel-default{
  background-color: white;
}

input{
  text-align: center;
}

</style>



{% endblock %}
